<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/global.css" />
    <title>Express</title>
</head>

<body>
    {{!-- navigation --}}
    <nav>
        <a href="/" class="nav-item home">回到首頁</a>
        <div class="nav-items">
            <a href="/about" class="nav-item">About</a>
            <a href="/portfolio" class="nav-item">Portfolio</a>
            <a href="/contact" class="nav-item">Contact</a>
        </div>
    </nav>

    {{!-- body --}}
    {{{ body }}}

 </body>

</html>