/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}

a:hover {
    text-decoration: none;
    color: #fff;
  }

nav {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.nav-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30px;
  grid-gap: 10px;
}

.nav-item {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100px;
  text-align: center;
  line-height: 30px;
}

.nav-item:hover {
  background-color: #666;
  color: #fff;
}

.main-container {
    width: 90%;
    margin: 0 auto;
  }